@keyframes h2-Animation-one {
  from {
    background: transparent;
    color: black;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -o-background-clip: border-box;
    background-clip: border-box;
  }
  to {
    background: $blue-gradient;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
  }
}

@keyframes h2-Animation-two {
  from {
    background: transparent;
    color: black;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -o-background-clip: border-box;
    background-clip: border-box;
  }
  to {
    background: $purple-gradient;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
  }
}

@keyframes h2-Animation-three {
  from {
    background: transparent;
    color: black;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -o-background-clip: border-box;
    background-clip: border-box;
  }
  to {
    background: $yellow-gradient;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
  }
}
