$blue-gradient: linear-gradient(90deg, #00315f, #007cf0, #00dfd8);
$purple-gradient: linear-gradient(90deg, #42166e, #7928ca, #ff0080);
$yellow-gradient: linear-gradient(90deg, #962f2f, #ff4d4d, #f9cb28);
$grey-color: rgb(105, 105, 105);
